.App {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  background-color: #EED3F2;
  
}
.header{
  height: 40px;
  font-size: 1.5em;
  line-height: 40px;
  padding: 0 0 0 3%;
  background-color: #3B3B3B;
  color: #E6C7EB;
}
.welcome{
  text-align: center;
  border-radius: 7%;
  margin: 4% auto 0;
  width: 60%;
  height: 600px;
  background-color: #2E282F;
}
.buttonContainer{
  height: 300px;
  margin-top: 12%;
}
#registerButton{
  margin: 5% auto;
  width: 35%;
  height: 50px;
  line-height: 50px;
}
.button{
  background-color: #E6C7EB;
  border: 10px solid #78687A;
  border-radius: 200px;
}
.welcome h1{
  position: relative;
  top: 7%;
  font-size: 4.5em;
  height: 150px;
  width: 70%;
  margin: 5% auto 0;
  line-height: 150px;
}
.welcome a {
  text-decoration: none;
  font-size: 2.5em;
  color: black;
  display: block;
  transition: 1s;
}
.welcome a ::hover{
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .welcome{
    width: 90%;
  }
  
  .welcome h1 {
    font-size: 3.5em;
  }
}