.App {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  background-color: #EED3F2;
  height: 100vh;
  
}
.header{
  height: 40px;
  font-size: 1.5em;
  line-height: 40px;
  padding: 0 0 0 3%;
  background-color: #3B3B3B;
  color: #E6C7EB;
}
.welcome{
  text-align: center;
  border-radius: 7%;
  margin: 4% auto 0;
  width: 40%;
  height: 80vh;
  background-color: #2E282F;
}
.buttonContainer{
  height: 40vh;
  margin-top: 20%;
}
.login, .register{
  width: 50%;
  border: 2px solid black;
  margin: 5% auto 0;
  height: 50vh;
  background-color: #2E282F;
  border-radius: 7%;
}
.errorMessage{
  margin-bottom: 20px;
  font-size: 2em;
  display: block;
  text-align: center;
  
}
.login h1, .register h1{
  font-size: 4em;
  text-align: center;
  width: 60%;
  margin: 5% auto;
}
form input, form button{
  margin: 0.5%;
}
form{
  text-align: center;
}
#registerButton, #loginButton{
  margin: 5% auto;
  width: 35%;
  height: 50px;
  line-height: 50px;
}
#loginButton{
  width: 30%;
}
.button{
  background-color: #E6C7EB;
  border: 6px solid #78687A;
  border-radius: 200px;
}
.welcome h1{
  position: relative;
  font-size: 4.5em;
  top: 50px;
  height: 130px;
  width: 70%;
  margin: 5% auto 0;
  line-height: 130px;
}
.welcome a {
  text-decoration: none;
  font-size: 2.5em;
  color: black;
  display: block;
}
#registerButton:hover, #loginButton:hover, #logoutButton:hover{
  -webkit-box-shadow: 0px 0px 23px 1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 23px 1px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 23px 1px rgba(66, 68, 90, 1);
}
.todos{
  position: relative;
  top: -15%;
  border-radius: 7%;
  width: 70%;
  margin: 0 auto;
  height: 85%;
}
.todos div {
font-size: 2.5em;
}
.todos form{
  margin-top: 20px
}
.welcome #logoutButton{
width: 150px;
height: 30spx;
}
@media screen and (max-width: 800px) {
  .welcome{
    width: 90%;
    margin-top: 15%;
  }
  
  .welcome h1 {
  font-size: 3.5em;
  margin-bottom: 70px;
  }
  .button{
    border: 5px solid #78687A;
}
#registerButton, #loginButton{
  margin: 10% auto;
  width: 50%;
}
.buttonContainer{
  margin-top: 30%;
}
}
@media screen and (max-width: 1100px) and (min-width:800px){
.buttonContainer{
  margin-top: 20%;
}
.welcome{
  width: 80%;
}
}